<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Giỏ Hàng</title>
</head>
<body>
	<section class="mb-2 me-5 ms-5" style="background-color: rgb(233, 236, 239); height: 40px;">
		<div class="pt-2 ms-3">
			<a class="text-decoration-none text-dark" href="index">
				<i class="bi bi-house-fill"></i>
			</a>
			/
			<a class="text-decoration-none text-dark" href="shop">Điện thoại</a>
			/ Thông tin giỏ hàng của bạn
		</div>
	</section>

	<section class="me-5 ms-5">
		<div class="row">
			<div class="fw-bold fs-4">Chi tiết đơn hàng</div>

			<hr />
			<div class="d-flex justify-content-center">
				<div ng-if="!cart.items.length" class="panel-body text-center">
					<h3 style="font-variant: small-caps;">Chưa có sản phẩm trong giỏ hàng</h3>
					<a th:href="@{/home/index}" class="btn btn-info continue-shop">Tiếp tục mua sắm</a>
				</div>
				<table class="table" ng-if="cart.items.length">
					<thead class="text-center">
						<th>Ảnh</th>
						<th class="p-name">Tên sản phẩm</th>
						<th>Giá</th>
						<th>Số lượng</th>
						<th>Tổng tiền</th>
						<th></th>
					</thead>
					<tbody class="align-middle text-center">
						<tr ng-repeat="item in cart.items">
							<form action="/home/cart/update" method="post">
								<input type="hidden" name="id" ng-model="item.id" />
								<td class="cart-pic first-row">
									<img ng-src="/image/{{ item.image }}" alt="" style="width: 50px" />
								</td>
								<td class="cart-title first-row">
									<h5>{{item.name}}</h5>
								</td>
								<td class="p-price first-row">{{item.price | number:0}}đ</td>
								<td>
									<div class="">
										<a class="btn btn-light" style="width: 38px;" ng-click="decrementQty(item)">-</a>
										<input name="qty" ng-model="item.qty" min="0" class="text-center"
											style="width: 50px; height: 30px; font-size: 18px; font-weight: bolder; border: none"
										/>
										<a class="btn btn-light" style="width: 38px;" ng-click="incrementQty(item)">+</a>
									</div>
								</td>
								<td class="total-price first-row">{{item.qty * item.price | number : 0}}đ</td>
								<td class="close-td first-row">
									<a class="btn btn-xs text-danger" style="font-weight: bolder" ng-click="cart.remove(item.id)">
										<span class="glyphicon glyphicon-trash"></span>
										xóa
									</a>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row" ng-if="cart.items.length">
				<div class="col-md-4">
					<div class="cart-buttons">
						<a th:href="@{/home/index}" class="btn btn-info continue-shop">Tiếp tục mua sắm</a>
						<a ng-click="cart.clear()" class="btn btn-danger up-cart">Xóa giỏ hàng</a>
					</div>
				</div>
				<div class="col-md-8 d-flex justify-content-end">
					<div class="proceed-checkout">
						<div class="fw-bold">
							Tổng tiền
							<span style="color: red">{{cart.amount | number:0}}đ </span>
						</div>
						<a th:if="${#request.remoteUser}" th:href="@{/home/checkout}" class="btn btn-light">Thanh Toán</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>