<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Shop Điện Thoại</title>

</head>
<body style="background-color: #f2f2f2;">
	<div class="me-5 ms-5  mb-5" th:insert="~{/user/menu/price.html :: form}"></div>
	<div class="me-5 ms-5 bg-white">
		<section class="mt-3">
			<div class="row m-3 bg-white">
				<!--Sản phẩm 1-->
				<div th:each="product : ${page.content}" class="col-md-3">
					<div class="ms-2 bg-danger w-50 text-light" th:text="'Giảm ' + (${product.sale} - ${product.price}) + ' đ'"></div>
					<div class="p-3">
						<a th:href="@{'product/detail/' + ${product.id}}">
							<img th:src="@{|/image/${product.image}|}" class="w-100" alt="" />
						</a>
					</div>
					<img th:src="@{/image/labelapple.png}" class="ms-2 w-50 h-5" alt="" />

					<div class="ms-2  me-5">
						<a th:href="@{'product/detail/' + ${product.id}}" class="text-decoration-none" th:text="${product.name}"></a>
					</div>
					<div class="ms-2 fw-bold" style="color: #be1e2d;" th:text="${product.price}">
						<span class="text-decoration-underline">đ</span>
					</div>
					<div class="ms-2 text-decoration-line-through text-muted" th:text="${product.sale}">
						<span class="text-decoration-underline">đ</span>
					</div>
					<div class="ms-2 me-5 bg-light fs-6">Tặng thêm đến 1 triệu khi Thu đổi mới. giảm thêm 800.000đ khi mở thẻ TPBank</div>
					<a th:href="@{'/home/cart/add/' + ${product.id}}" class="btn btn-outline-danger mt-1 mb-2">Thêm giỏ hàng</a>
				</div>
			</div>

			<div class="pb-1">
				<ul class="pagination d-flex justify-content-center">
					<li class="page-item">
						<a class="page-link" th:href="@{'/home/brand?p=0'}">1</a>
					</li>
					<th:block th:each="i : ${#numbers.sequence(1, page.totalPages-1)}">
						<li class="page-item">
							<a class="page-link" th:href="@{'/home/brand?p=' + ${i}}" th:text="${i+1}"></a>
						</li>
					</th:block>
				</ul>
			</div>

		</section>
	</div>
	<script>
		$(function() {
			var minPrice = 0;
			var maxPrice = 40000;
			var initialMin = 0;
			var initialMax = 40000;

			$("#slider-range").slider(
					{
						range : true,
						min : minPrice,
						max : maxPrice,
						values : [ initialMin, initialMax ],
						slide : function(event, ui) {
							$("#price-min").val(ui.values[0]);
							$("#price-max").val(ui.values[1]);
							updateProductCount(ui.values[0], ui.values[1]);
						},
						stop : function(event, ui) {
							sendSearchRequest();
						},
						change : function(event, ui) {
							$("#priceDropdown").text(
									formatPrice(ui.values[0]) + " - "
											+ formatPrice(ui.values[1]));
						}
					});

			$("#price-min").val(initialMin);
			$("#price-max").val(initialMax);

			function formatPrice(price) {
				return new Intl.NumberFormat("vi-VN", {
					style : "currency",
					currency : "VND"
				}).format(price);
			}

			function updateProductCount(min, max) {
				$
						.ajax({
							url : "/home/price",
							type : "GET",
							data : {
								min : min,
								max : max
							},
							success : function(data) {
								$("#searchResultsContainer").text(data);
							},
							error : function() {
								console
										.log("Error occurred while updating product count.");
							}
						});
			}

			function sendSearchRequest() {
				var minPrice = $("#price-min").val();
				var maxPrice = $("#price-max").val();

				// Tạo URL với các tham số tìm kiếm
				var url = "/home/price?min=" + minPrice + "&max=" + maxPrice;

				// Tải lại trang với URL chứa các tham số tìm kiếm
				window.location.href = url;
			}

			// Lấy giá trị min và max từ tham số truy vấn
			var urlParams = new URLSearchParams(window.location.search);
			var min = urlParams.get('min');
			var max = urlParams.get('max');

			// Kiểm tra xem min và max có giá trị không-null hoặc không-undefined
			// Nếu có, đặt lại giá trị của thanh trượt
			if (min && max) {
				$("#slider-range").slider("values", [ min, max ]);
				$("#price-min").val(min);
				$("#price-max").val(max);
				$("#priceDropdown").text(
						formatPrice(min) + " - " + formatPrice(max));
			}
		});
		$(document).ready(function() {
			var minPrice = $("#price-min").val();
			var maxPrice = $("#price-max").val();

			$(".page-link").each(function() {
				var href = $(this).attr("href");
				href += "&min=" + minPrice + "&max=" + maxPrice;
				$(this).attr("href", href);
			});
		});
	</script>
</body>
</html>