
<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/user/layout.html :: user(~{::body})}">
<head>
<meta charset="utf-8">
<title>Đơn Hàng</title>
<style type="text/css">
.page-wrapper {
	min-height: 60vh;
}
</style>
</head>
<body style="background-color: #f2f2f2;">
	<div class="page-wrapper  p-t-45 p-b-50">
		<div class="wrapper wrapper--w790">
			<table class="table bg-white table-border table-striped custab text-center">
				<thead>
					<tr>
						<th></th>
						<th>Ảnh</th>
						<th>Mã sản phẩm</th>
						<th>Tên sản phẩm</th>
						<th>Giá</th>
						<th>Số lượng</th>
					</tr>
				</thead>
				<tbody>
					<tr style="height: 50px; line-height: 50px;" th:each="item, state : ${page.content}">
						<td class="p-price text-dark">${i=i+1}</td>
						<td>
							<img th:src="@{|/image/${item.product.image}|}" alt="" style="width: 50px" />
						</td>
						<td>[[${item.product.id}]]</td>
						<td>${[${item.product.name}]</td>
						<td style="color: red">[[${item.product.price}]] đ</td>
						<td>[[${item.quantity }]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>