<div class="mt-3" style="background-color: #be1e2d;">
    <div class="me-5 ms-5 text-light">
        <div class="row p-4">
            <div class="col-md-4">
                <div class="fw-bold">LIÊN HỆ VỚI CHÚNG TÔI</div>
                <div>Thời gian làm việc: 8h00 - 21h00</div>
                <button type="button" class="btn btn-warning mt-4 fs-3 fw-bold ms-2 " style="color:#be1e2d ;">0355 726 137</button>
                <div class="mt-3">Kết nối với chúng tôi
                    <a href="#" class="text-decoration-none">
                        <img src="../views/image/facebook.png" alt="" style="width: 25px; height: 25px;">
                    </a>
                    <a href="#" class="text-decoration-none">
                        <img src="../views/image/youtube.png" alt="" style="width: 52px; height: 40px;">
                    </a>
                </div>
                <div class="mt-3">
                    <img src="../views/image/bocongthuong.jpg" alt="" style="width: 160px; height: 58px;">
                </div>
            </div>
            <div class="col-md-2">
                <div class="fw-bold">VỀ CHÚNG TÔI</div>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color mt-3">Giới thiệu công ty</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Bản quyền và sở hữu</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Tuyển dụng</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Tin công nghệ</div>
                </a>
                <a href="/home/feedback" class="text-decoration-none text-light">
                    <div class="color">Gửi góp ý, khiếu nại</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Hỏi đáp</div>
                </a>
            </div>
            <div class="col-md-2">
                <div class="fw-bold">HỖ TRỢ & DỊCH VỤ</div>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color mt-3">Mua hàng trả góp</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Tra cứu đơn hàng</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Chăm sóc khách hàng</div>
                </a>
                <a href="#" class="text-decoration-none text-light">
                    <div class="color">Chính sách bảo mật</div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="fw-bold">HÌNH THỨC THANH TOÁN</div>
                <div class="mt-3">
                    <img class="me-2" src="../views/image/logo-visa.jpg" alt="">
                    <img class="me-2" src="../views/image/logo-master.jpg" alt="">
                    <img class="me-2" src="../views/image/logo-jcb.jpg" alt="">
                    <img class="me-2" src="../views/image/logo-atm.jpg" alt="">
                </div>
                <div class="mt-3">Tài khoản ngân hàng thương mại cổ phần Kỹ Thương Việt Nam: Techcombank</div>
                <div>- Tên tài khoản: Huỳnh Tấn Vĩnh</div>
                <div>- Tài khoản số: 190368392928791</div>
                <div>- Chi nhánh Tô Ký, Quận 12</div>
            </div>
        </div>
    </div>
    <hr class="text-light">
    <div class="me-5 ms-5 text-light">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img class="me-2" src="../views/image/iconmap.png" alt="" style="width: 16px; height: 22px;">
                    Trụ sở chính: 18c/9, Hà Thị Khiêm, Phường Trung Mỹ Tây, quận 12, TP.HCM
                </div>
                <div>
                    <img src="../views/image/Phone.png" alt="" style="width: 22px; height: 22px;">
                    Hotline: 0355 726 137 (08:00 - 21:00)
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img class="me-2" src="../views/image/iconmap.png" alt="" style="width: 16px; height: 22px;">
                    Chi nhánh Tô Ký: 368 Tô Ký, Tân Chánh Hiệp, Quận 12, TP.HCM
                </div>
                <div>
                    <img src="../views/image/Phone.png" alt="" style="width: 22px; height: 22px;">
                    Hotline: 0355 726 137 (08:00 - 21:00)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center m-2">
    <p>&copy; 2023 copyright by FPT Polytechnic</p>
</div>