<div class="text-center" style="background-color: rgb(178, 6, 11);">
	<div id="carouselExampleFade" class="carousel slide carousel-fade" th:attr="data-bs-ride='carousel'">
		<div class="carousel-inner">
			<div class="carousel-item active" th:attr="data-bs-interval='3000'">
				<img src="../views/image/header_1.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item" th:attr="data-bs-interval='3000'">
				<img src="../views/image/header_2.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
	</div>
</div>