<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
</head>
<body>
<div class="row">
    <div class="col-md-3">
        <img th:src="@{/image/logo-giaohangnhanh.jpg}" alt="">
        <span class="fw-bold">GIAO HÀNG NHANH</span>
    </div>
    <div class="col-md-3">
        <img th:src="@{/image/logo-tvcn.jpg}" alt="">
        <span class="fw-bold">TƯ VẤN CHUYÊN NGHIỆP</span>
    </div>
    <div class="col-md-3">
        <img th:src="@{/image/logo-chinhhang.jpg}" alt="">
        <span class="fw-bold">100% CHÍNH HÃNG</span>
    </div>
    <div class="col-md-3">
        <img th:src="@{/image/logo-ttlh.jpg}" alt="">
        <span class="fw-bold">THANH TOÁN LINH HOẠT</span>
    </div>
</div>
</body>
</html>