<div class="text-center p-2" style="width: 500px; height: 50px; background-color: #be1e2d;">
    <span class="fs-5 fw-bold text-light">DANH MỤC VÀ NHÃN HÀNG YÊU THÍCH</span>
</div>

<section class="bg-white">
    <div class="p-2">
        <button type="button" class="btn btn-light">iPhone Giá rẻ</button>
        <button type="button" class="btn btn-light">iPhone 11 Pro Max</button>
        <button type="button" class="btn btn-light">iPhone</button>
        <button type="button" class="btn btn-light">Điện thoại Xiaomi</button>
        <button type="button" class="btn btn-light">Google pixel 3 XL</button>
        <button type="button" class="btn btn-light">iPhone 8/8 Plus</button>
        <button type="button" class="btn btn-light">Điện thoại Samsung</button>
        <button type="button" class="btn btn-light">Galaxy Note 10</button>
        <button type="button" class="btn btn-light">ZTE bubia Red magic 5S</button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-light">iPhone 12 Pro</button>
        <button type="button" class="btn btn-light">Lenovo Legion Phone Pro</button>
    </div>
</section>
