<div class="wrapper">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section>
			<div class="content-header">
				<div class="container-fluid">
					<div class="page-wrapper bg-gra-03 " style="height: 600px">
						<div class="container" id="main-content" style="padding-top: 40px">
							<div class="row">
								<!-- LEFT AREA -->
								<div class="col-md-4"></div>

								<!-- RIGHT AREA -->
								<div class="col-md-4">
									<a href="/account/list" class="btn bg-gra-03 p-2 mb-3 btn-xs pull-right"> Danh sách tài khoản </a>

									<form action="/account/list" ng-submit="submitForm()" method="post">
										<div class="form-group">
											<input class="form-control" ng-model="item.username" placeholder="Tài khoản" />
										</div>
										<div class="form-group">
											<input type="text" class="form-control" ng-model="item.password" placeholder="Mật khẩu" />
										</div>
										<div class="form-group">
											<input class="form-control" ng-model="item.fullname" placeholder="Họ tên" />
										</div>
										<div class="form-group">
											<input type="email" class="form-control" ng-model="item.email" placeholder="Email" />
										</div>
										<div class="form-group">
											<input type="file" ng-model="item.photo" aria-describedby="imageHid" placeholder="image" />
										</div>
										<div class="form-group">
											Activity:
											<div class="mx-2">
												<div ng-repeat="activatedOption in activateds" style="display: inline-block;margin: 10px">
													<input type="radio" ng-model="item.activated" ng-value="activatedOption.key" />
													<label>{{ activatedOption.value }}</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											Role:
											<div class="mx-2">
												<div ng-repeat="adminOption in admins" style="display: inline-block;margin: 10px">
													<input type="radio" ng-model="item.admin" ng-value="adminOption.key" />
													<label>{{ adminOption.value }}</label>
												</div>
											</div>
										</div>
										<div class="form-group text-center">
											<button type="submit" class="btn btn-success">
												<i class="fa fa-plus-square"></i> Create
											</button>
											<button type="submit" class="btn btn-primary">
												<i class="fa fa-save"></i> Update
											</button>
											<a type="button" class="btn btn-danger" href="/account/delete/{{ item.username }}">
												<i class="bi bi-trash3"></i> Delete
											</a>
											<button type="button" class="btn btn-warning" style="color: white">
												<i class="bi bi-x-square"></i> New
											</button>
										</div>
									</form>
								</div>
								<div class="col-md-4"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</div>
