<div class="wrapper">
	<div class="content-wrapper">
<div class="panel panel-default col-md-8" >

					<table class="table bg-white table-border table-striped custab text-center">
						<thead>	
							<a ng-click="click()" class="btn bg-gra-03  mb-3 btn-xs pull-right p-2">
								<b>+</b> Thêm mới loại
							</a>
							<tr>
								<th>Mã loại</th>
								<th>Tên Loại</th>
								<th class="text-center"></th>
							</tr>
						</thead>
						<tbody>						
							<tr ng-repeat="item in pager.items" ng-if="item.isActive" style="height: 30px; line-height: 30px;">
								<td>{{ item.id }}</td>
								<td>{{ item.name }}</td>
								<td class="text-center">
									<a href="" type="button" class="btn btn-primary" ng-click="edit(item)">
										<i class="bi bi-pencil-square"></i> Sửa
									</a>
									<a href="" type="button" class="btn btn-danger" ng-click="delete(item)">
										<i class="bi bi-x-lg"></i> Xóa
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<div class="panel-footer text-center">
							<button ng-click="pager.first()" class="btn btn-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
								  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
								</svg>
							</button>
							<button ng-click="pager.prev()" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
								  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
								</svg>
							</button>
							<button class="btn btn-success">
								{{pager.page + 1}} of {{pager.count}}
							</button>
							<button ng-click="pager.next()" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
								  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
								</svg>
							</button>
							<button ng-click="pager.last()" class="btn btn-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
								  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
								</svg>
							</button>
						</div>
					</div>
 </div>		
  </div>	
   </div>		

