<div class="wrapper" ng-if="items">
	<div class="content-wrapper">
		<section>
			<div class="content-header">
				<div class="container-fluid">
					<table class="table bg-white table-border table-striped custab text-center">
						<thead>
							<tr>
								<th style="font-weight: bolder; font-size: 18px">
									<a ng-href="/order/list?field=id&amp;sort={{field}}&amp;p={{page.number}}"> Mã đặt hàng </a>
								</th>
								<th style="font-weight: bolder; font-size: 18px">
									<a ng-href="/order/list?field=account.username&amp;sort={{field}}&amp;p={{page.number}}"> Tên khách hàng </a>
								</th>

								<th style="font-weight: bolder; font-size: 18px">
									<a ng-href="/order/list?field=createDate&amp;sort={{field}}&amp;p={{page.number}}"> Ngày đặt hàng </a>
								</th>
								<th style="font-weight: bolder; font-size: 18px">
									<a ng-href="/order/list?field=sdt&amp;sort={{field}}&amp;p={{page.number}}"> Số điện thoại </a>
								</th>

								<th style="font-weight: bolder; font-size: 18px">
									<a ng-href="/order/list?field=address&amp;sort={{field}}&amp;p={{page.number}}"> Địa chỉ </a>
								</th>
								<th style="font-weight: bolder; font-size: 18px">
									<a ng-href="/order/list?field=confirmation&amp;sort={{field}}&amp;p={{page.number}}"> Xác nhận đơn hàng </a>
								</th>

								<th style="font-weight: bolder; font-size: 18px">Đơn hàng</th>
							</tr>

						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items" style="height: 30px; line-height: 30px;">
								<td>{{item.id}}</td>
								<td>{{item.account.username}}</td>
								<td>{{item.createDate}}</td>
								<td>{{item.sdt}}</td>
								<td>{{item.address}}</td>
								<td>{{item.confirmation ? 'Đã xác nhận' : 'Chưa xác nhận'}}</td>
								<td>
									<a ng-href="/admin/orderdetail/{{item.id}}">Chi tiết đơn hàng</a>
								</td>
								<td>
									<div ng-if="!order.confirmation">
										<a class="btn btn-info btn-xs confirm-btn" ng-href="/order/confirm/{{item.id}}">
											<i class="bi bi-pencil-square"></i> Xác nhận
										</a>
									</div>
									<a href="/order/delete/{{item.id}}" style="font-size: 14px" class="btn btn-danger btn-xs"
										ng-click="confirmDeletion()" ng-show="order.confirmation || order.confirmation === undefined"
										ng-hide="deleteButtonClicked"
									>
										<i class="bi bi-x-lg"></i> Xóa
									</a>
									<div ng-show="deleteButtonClicked">
										<p>Bạn có chắc muốn xóa đơn hàng này?</p>
										<button class="btn btn-danger btn-xs" ng-click="deleteOrder()">Xóa</button>
										<button class="btn btn-default btn-xs" ng-click="cancelDelete()">Hủy</button>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
					<div class=" text-center">
						<a ng-href="/order/list?p=0" class="btn btn-success">First</a>
						<a ng-href="/order/list?p={{page.number - 1}}" class="btn btn-primary">Previous</a>
						<a href="/order/list?p={{page.number + 1}}" class="btn btn-danger"> Next </a>
						<a ng-href="/order/list?p={{page.totalPages - 1}}" class="btn btn-warning">Last</a>
					</div>
				</div>

			</div>
		</section>
	</div>
</div>