<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Loại Sản Phẩm</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<div class="page-wrapper bg-gra-03 " style="height: 600px">
							<div class="container" id="main-content" style="padding-top: 100px">
								<div class="row">
									<!-- end LEFT AREA -->
									<div class="col-md-4"></div>
									<!-- RIGHT AREA -->
									<div class="col-md-4">
										<a th:href="@{/category/list}" class="btn bg-gra-03 p-2 mb-3 btn-xs pull-right"> Danh sách loại </a>
										<form th:action="@{/category/list}" method="post" th:object="@{item}">

											<div class="form-group">
												<input class="form-control" type="text" th:field="${id}" placeholder="Mã loại" />
												<ul th:if="${#fields.hasErrors('id')}" class="text-danger">
													<li th:each="error : ${#fields.errors('id')}" th:text="${error}"></li>
												</ul>
											</div>
											<div class="form-group">
												<input class="form-control" type="text" th:field="${name}" placeholder="Tên loại" />
												<ul th:if="${#fields.hasErrors('name')}" class="text-danger">
													<li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
												</ul>
											</div>
											<div class="form-group text-center">
												<button type="submit" class="btn btn-success" th:formaction="@{/category/create}">
													<i class="fa fa-plus-square"></i> Create
												</button>
												<button type="submit" class="btn btn-primary" th:formaction="@{/category/update}">
													<i class="fa fa-save"></i> Update
												</button>
												<a th:href="@{|/category/delete/${item.id}|}" class="btn btn-danger">
													<i class="bi bi-trash3"></i> Delete
												</a>
												<button type="button" class="btn btn-warning" th:formaction="@{/category/controller}" style="color: white">
													<i class="bi bi-x-square"></i> New
												</button>
											</div>
										</form>
									</div>
									<div class="col-md-4"></div>
									<!-- end RIGHT AREA -->
								</div>
								<!-- END row -->
							</div>
							<!-- END container -->
						</div>

					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>
</html>