<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<meta charset="utf-8">
<title>Loại Sản Phẩm</title>
</head>
<body>
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<table class="table bg-white table-border table-striped custab text-center">
							<thead>
								<a th:href="@{/category/controller}" class="btn bg-gra-03  mb-3 btn-xs pull-right p-2">
									<b>+</b> Thêm mới loại
								</a>
								<tr>
									<th>Mã loại</th>
									<th>Tên Loại</th>
									<th class="text-center"></th>
								</tr>
							</thead>

							<tr th:each="item : ${page.content}" style="height: 30px; line-height: 30px;">
								<td th:text="${item.id}"></td>
								<td th:text="${item.name}"></td>
								<td class="text-center">
									<a class='btn btn-info btn-xs' th:href="@{|/category/edit/${item.id}|}">
										<i class="bi bi-pencil-square"></i> Sửa
									</a>
									<a th:href="@{/category/delete/${item.id}}" class="btn btn-danger btn-xs">
										<i class="bi bi-x-lg"></i> Xóa
									</a>
								</td>
							</tr>
						</table>
						<div class=" text-center">
							<a th:href="@{|/category/list?p=0|}" class="btn btn-success"> First </a>
							<a th:href="@{|/category/list?p=${page.number-1}|}" class="btn btn-primary"> Previous </a>
							<a th:href="@{|/category/list?p=${page.number+1}|}" class="btn btn-danger"> Next </a>
							<a th:href="@{|/category/list?p=${page.totalPages-1}|}" class="btn btn-warning"> Last</a>
						</div>
						<!-- /.Left col -->
						<!-- right col (We are only adding the ID to make the widgets sortable)-->
					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>
</html>