<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<title>Đơn Hàng</title>
</head>
<body>
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<table class="table bg-white table-border table-striped custab text-center">
							<thead>
								<tr>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{/order/list(field=id,sort=${field},p=${page.number})}">Mã đặt hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{/order/list(field=account.username,sort=${field},p=${page.number})}">Tên
											khách hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{/order/list(field=createDate,sort=${field},p=${page.number})}">Ngày
											đặt hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{/order/list(field=sdt,sort=${field},p=${page.number})}">Số điện thoại</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{/order/list(field=address,sort=${field},p=${page.number})}">Địa chỉ</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{/order/list(field=confirmation,sort=${field},p=${page.number})}">Xác
											nhận đơn hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px">Đơn hàng</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${page.content}" style="height: 30px; line-height: 30px;">
									<td th:text="${order.id}"></td>
									<td th:text="${order.account.username}"></td>
									<td th:text="${order.createDate}"></td>
									<td th:text="${order.sdt}"></td>
									<td th:text="${order.address}"></td>
									<td th:text="${order.confirmation ? 'Đã xác nhận' : 'Chưa xác nhận'}"></td>
									<td>
										<a th:href="@{/admin/orderdetail(id=${order.id})}">Chi tiết đơn hàng</a>
									</td>
									<td>
										<div th:if="${!order.confirmation}">
											<a class="btn btn-info btn-xs confirm-btn" th:href="@{/order/confirm(id=${order.id})}">
												<i class="bi bi-pencil-square"></i> Xác nhận
											</a>
										</div>
										<a th:href="@{/order/delete(id=${order.id})}" style="font-size: 14px" class="btn btn-danger btn-xs"
											onclick="return confirm('Bạn có chắc muốn xóa đơn hàng này?')"
										>
											<i class="bi bi-x-lg"></i> Xóa
										</a>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="text-center">
							<a th:href="@{/order/list(p=0)}" class="btn btn-success">First</a>
							<a th:href="@{/order/list(p=${page.number-1})}" class="btn btn-primary">Previous</a>
							<a th:href="@{/order/list(p=${page.number+1})}" class="btn btn-danger">Next</a>
							<a th:href="@{/order/list(p=${page.totalPages-1})}" class="btn btn-warning">Last</a>
						</div>
						<!-- /.Left col -->
						<!-- right col (We are only adding the ID to make the widgets sortable)-->
					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>

</html>