
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<meta charset="utf-8">
<title>Đơn Hàng</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<table class="table bg-white table-border table-striped custab text-center">
							<thead>

								<tr>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{|/order/list?field=${id}&sort=${field}&amp;p=${page.number}|}">Mã đặt
											hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a
											th:href="@{|/order/list?field=${account.username}&amp;sort=${field}&amp;p=${page.number}|}"
										>Tên khách hàng </a></th>
									<th style="font-weight: bolder; font-size: 18px"><a
											th:href="@{|/order/list?field=${createDate}&amp;sort=${field}&amp;p=${page.number}|}"
										>Ngày đặt hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{|/order/list?field=${sdt}&amp;sort=${field}&amp;p=${page.number}|}">Số
											điện thoại</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a th:href="@{|/order/list?field=${address}&amp;sort=${field}&amp;p=${page.number}|}">Địa
											chỉ</a></th>
									<th style="font-weight: bolder; font-size: 18px"><a
											th:href="@{|/order/list?field=${confirmation}&amp;sort=${field}&amp;p=${page.number}|}"
										>Xác nhận đơn hàng</a></th>
									<th style="font-weight: bolder; font-size: 18px">Đơn hàng</th>
									<th></th>

								</tr>
							</thead>
							<!-- ... -->
							<!-- ... -->
							<tbody th:each="order :${orderList}">
								<!--								<c:forEach  var="order" items="${page.content}">-->
								<tr style="height: 30px; line-height: 30px;" th:object="${order}">
									<td th:text="*{id}"></td>
									<td th:text="${order.account.username}"></td>
									<td th:text="*{createDate}"></td>
									<td th:text="*{sdt}"></td>
									<td th:text="*{address}"></td>

									<!--										Đau đầu vcl chỗ này-->
									<td th:if="${order.confirmation==true?'Đã xác nhận':'Chưa xác nhận'}" />

									<td>
										<a th:href="@{|/admin/orderdetail?id=${order.id}|}">Chi tiết đơn hàng</a>
									</td>
									<td>
										<a class="btn btn-info btn-xs confirm-btn" th:unless="${order.comfirmation}" th:href="@{|/order/confirm/${order.id}|}">
											<i class="bi bi-pencil-square"></i> Xác nhận
										</a>
										<a th:href="@{|/order/delete/${order.id}|}" style="font-size: 14px" class="btn btn-danger btn-xs"
											onclick="return confirm('Bạn có chắc muốn xóa đơn hàng này?')"
										>
											<i class="bi bi-x-lg"> </i> Xóa
										</a>
									</td>
								</tr>
								<!--								</c:forEach>-->
							</tbody>
							<!-- ... -->

							<!-- ... -->

						</table>

						<div class=" text-center" th:object="${page.content}">
							<a th:href="@{|/order/list?p=0|}" th: class="btn btn-success"> First </a>
							<a th:href="@{|/order/list?p=${page.number}-1|}" class="btn btn-primary"> Previous </a>
							<a th:href="@{|/order/list?p=${page.number}+1|}" class="btn btn-danger"> Next </a>
							<a th:href="@{|/order/list?p=${page.totalPages}-1|}" class="btn btn-warning"> Last</a>
						</div>


						<!-- /.Left col -->
						<!-- right col (We are only adding the ID to make the widgets sortable)-->

					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div
</body>
</html>