
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Sản Phẩm</title>
</head>
<body>
	<div class="wrapper">
		<div class="content-wrapper">
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<div class="page-wrapper bg-gra-03 " style="height: 650px">

							<div class="container" id="main-content" style="padding-top: 50px">
								<div class="row">
									<!-- LEFT AREA -->
									<div class="col-md-4"></div>

									<!-- RIGHT AREA -->
									<div class="col-md-4">
										<a th:href="@{/product/list}" class="btn bg-gra-03 p-2 mb-3 btn-xs pull-right"> Danh sách sản phẩm </a>

										<!-- Form trong file JSP -->
										<form action="/product/list" th:object="item">

											<div class="form-group">
												<input class="form-control" th:field="${item.name}" placeholder="Tên sản phẩm" />
												<i th:errors="${item.name}" element="li" delimiter=";" cssClass="text-danger" />
											</div>

											<div class="form-group">
												<input type="file" th:field="${item.image}" aria-describedby="imageHid" placeholder="image" />
												<i th:errors="${item.image}" element="li" delimiter=";" cssClass="text-danger" />
											</div>

											<div class="form-group">
												<input class="form-control" th:field="${item.sale}" placeholder="Giá sản phẩm" />
												<i th:errors="${item.sale}" element="li" delimiter=";" cssClass="text-danger" />
											</div>
											<div class="form-group">
												<input class="form-control" th:field="${item.price}" placeholder="Giảm giá" />
												<i th:errors="${item.price}" element="li" delimiter=";" cssClass="text-danger" />
											</div>


											<div class="form-group">
												<input type="Date" class="form-control" id="createDate" disabled="false" th:field="${item.createDate}" placeholder="Ngày tạo" />
												<i th:errors="item.createDate" element="li" delimiter=";" cssClass="text-danger" />

											</div>

											<div class="form-group">
												Available: <br />
												<input th:field="${item.available}" th:value="true" type="radio">
												true
												<input th:field="${item.available}" th:value="false" type="radio">
												false <i th:errors="${item.available}" path="available" element="li" delimiter=";" cssClass="text-danger" />
											</div>

											<div class="form-group ">
												<select th:field="*{categories}">
													<option value="">Categories?</option>
													<option th:each="entry: ${categories}" th:value="${entry.id}" th:text="${entry.name}" />
												</select>
											</div>


											<div class="form-group text-center">
												<button type="submit" class="btn btn-success" formaction="/product/create">
													<i class="fa fa-plus-square"></i> Create
												</button>
												<button type="submit" class="btn btn-primary" formaction="/product/update">
													<i class="fa fa-save"></i> Update
												</button>
												<a type="button" class="btn btn-danger" th:href="@{|/product/delete/${item.id}|}">
													<i class="bi bi-trash3"></i> Delete
												</a>
												<button type="submit" class="btn btn-warning" formaction="/product/controller" style="color: white">
													<i class="bi bi-x-square"></i> New
												</button>
											</div>
										</form>
									</div>
									<div class="col-md-4"></div>
									<!-- end RIGHT AREA -->
								</div>
								<!-- END row -->
							</div>
							<!-- END container -->
						</div>
					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>
</html>
