
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<meta charset="utf-8">
<title>Thống kê</title>
</head>
<body>
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<table class="table bg-white table-border table-striped custab text-center">

							<thead>
								<tr>
									<th style="font-weight: bolder; font-size: 18px"></th>
									<th style="font-weight: bolder; font-size: 18px">Tên loại</th>
									<th style="font-weight: bolder; font-size: 18px">Tổng tiền</th>
									<th style="font-weight: bolder; font-size: 18px">Số lượng</th>
								</tr>
							</thead>
							<tbody>

								<tr th:each="item : ${items}" th:with="i=0">
									<td th:text="${i + 1}"></td>
									<td th:text="${item.group.name}"></td>
									<td th:text="${item.sum} + 'đ'"></td>
									<td th:text="${item.count}"></td>
								</tr>
							</tbody>
						</table>
						<!-- /.Left col -->
						<!-- right col (We are only adding the ID to make the widgets sortable)-->
					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>
</html>