
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout.html :: admin(~{::body})}">
<head>
<meta charset="utf-8">
<title>Thống Kê</title>
</head>
<body>
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section>
				<div class="content-header">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-10 offset-md-1">

								<div class="row px-3 py-1">
									<div class="col-3">
										<form action="/admin/reportOrderByDate" method="post">
											<div class="form-group">
												<input type="text" class="form-control" name="firstDate" id="firstDate" aria-describedby="firstDateHid" placeholder="MM-dd-yyyy" />
											</div>
											<div class="form-group">
												<input type="text" class="form-control" name="lastDate" id="lastDate" aria-describedby="lastDateHid" placeholder="MM-dd-yyyy" />
											</div>
											<button type="submit" class="btn bg-gra-03">Search</button>
										</form>
									</div>
									<div class="col-3 bg-gra-03 offset-6" style="border-radius: 4px">
										<h3 class="text-center">Đơn hàng</h3>
										<h5>
											Ngày:
											<span th:text="${#dates.format(firstDate, 'MM-dd-yyyy')}" />
										</h5>
										<h5>
											Ngày:
											<span th:text="${#dates.format(lastDate, 'MM-dd-yyyy')}" />
										</h5>
										<h5>
											Đơn hàng:
											<h5 th:text="${page.totalElements}" />
										</h5>
									</div>
								</div>

								<table class="table bg-white mt-2 table-border table-striped custab text-center">
									<thead>
										<tr>
											<th style="font-weight: bolder; font-size: 18px"></th>
											<th style="font-weight: bolder; font-size: 18px">Mã loại</th>
											<th style="font-weight: bolder; font-size: 18px">Địa chỉ</th>
											<th style="font-weight: bolder; font-size: 18px">Ngày tạo</th>
										</tr>
									</thead>
									<tbody>
										<tr th:with="i=0" th:each="item:${page}">
											<td th:text="${i+1}"></td>
											<td th:text="${item.id}"></td>
											<td th:text="${item.address}"></td>
											<td th:text="${item.createDate}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.Left col -->
						<!-- right col (We are only adding the ID to make the widgets sortable)-->
					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>
</html>