<div class="wrapper">
	<div class="content-wrapper">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-8">
					<a ng-click="listClick()"
						class="btn bg-gra-03 = mb-3 btn-xs pull-right"> Danh sách sản
						phẩm </a>

					<!-- Form trong file JSP -->
					<form>
						<div class="form-group">
							<input class="form-control" ng-model="form.name"
								placeholder="Tên sản phẩm" />
							<ul class="text-danger">
								<li ng-repeat="error in errors.name">{{ error }}</li>
							</ul>
						</div>

						<div class="form-group">
							<input type="file" ng-model="form.image"
								aria-describedby="imageHid" placeholder="image" />
							<ul class="text-danger">
								<li ng-repeat="error in errors.image">{{ error }}</li>
							</ul>
						</div>

						<div class="form-group">
							<input class="form-control" ng-model="form.sale"
								placeholder="Giá sản phẩm" />
							<ul class="text-danger">
								<li ng-repeat="error in errors.sale">{{ error }}</li>
							</ul>
						</div>
						<div class="form-group">
							<input class="form-control" ng-model="form.price"
								placeholder="Giảm giá" />
							<ul class="text-danger">
								<li ng-repeat="error in errors.price">{{ error }}</li>
							</ul>
						</div>

						<div class="form-group">
							<input type="Date" class="form-control" id="createDate"
								ng-model="form.createDate" placeholder="Ngày tạo" />
							<ul class="text-danger">
								<li ng-repeat="error in errors.createDate">{{ error }}</li>
							</ul>
						</div>

						<div class="form-group">
							Available: <br />
							<div class="mx-3">
								<input type="radio" ng-model="form.available" ng-value="true" />
								<span>Stocking</span> <input type="radio"
									ng-model="form.available" ng-value="false" /> <span>Out
									of Stock</span>
							</div>
							<ul class="text-danger">
								<li ng-repeat="error in errors.available">{{ error }}</li>
							</ul>
						</div>




						<div class="form-group">
							<select class="form-control" ng-model="form.category"
								ng-options="category.name for category in categories track by category.value">
							</select>
						</div>



						<div class="form-group text-center">
							<button type="submit" ng-click="create()" class="btn btn-success">
								<i class="fa fa-plus-square"></i> Create
							</button>
							<button type="submit" class="btn btn-primary" ng-click="update()">
								<i class="fa fa-save"></i> Update
							</button>
							<a class="btn btn-danger" ng-click="delete(form)"> <i
								class="bi bi-trash3"></i> Delete
							</a>
							<button type="submit" class="btn btn-warning" ng-click="reset()"
								style="color: white">
								<i class="bi bi-x-square"></i> New
							</button>
						</div>
					</form>
				</div>

			</div>
			<!-- END row -->
		</div>
		<!-- END container -->
	</div>
</div>
<!-- /.row (main row) -->

